<div class="Player-list">
    <p>Players : </p>
    <ul>
        <li>
            <span (click)="selectPlay(0)"> {{players[0].characterName}}</span>
        </li>
    </ul>
    <ul>
        <li>
            <span (click)="selectPlay(1)"> {{players[1].characterName}}</span>
        </li>
    </ul>
    <ul>
        <li>
            <span (click)="selectPlay(2)"> {{players[2].characterName}}</span>
        </li>
    </ul>
</div>
<div className="Player-details">
    <p> Character name : {{this.selected?.characterName}} </p>
    <p> Name : {{this.selected?.name}}</p>
    <p> Class : {{this.selected?.class}}</p>
    <p> Race : {{this.selected?.race}}</p>
    <p> Sexe : {{this.selected?.sexe}}</p>
    <p> Strength : {{this.selected?.strength}}</p>
    <p> Constitution : {{this.selected?.constitution}}</p>
    <p> Intelligence : {{this.selected?.intelligence}}</p>
    <p> Dexterity : {{this.selected?.dexterity}}</p>
</div>